#Aliases basic commands
alias ls='ls -GFh'
alias ll='ls -las'
alias linuxv='lsb_release -a'

#Aliases advanced commands
# > mkshortcuts : Fix made to add all snapcrafts apps as shortcuts
alias mkshortcuts='sudo cp /var/lib/snapd/desktop/applications/* /usr/share/applications'

#Bootstrap a ruby project for THP
alias rubynit='ruby /var/www/rubynit/rubynit.rb'

#Aliases paths commands
alias ..='cd ..'
alias ...='cd ../..'
alias cdthp='cd /var/www/thp'
alias cdwww='cd /var/www'
alias cdfree='cd /var/www/freelancing'
alias cdlicencerubymine='cd ~/.config/JetBrains/RubyMine2020.1/eval'

#Aliases file open
alias bashrc='nano ~/.bashrc'
alias bash_aliases='nano ~/.bash_aliases'
alias zshrc='subl ~/.zshrc'
alias open='xdg-open .'
alias aliasedit='subl /var/www/dotfiles/.aliases'
alias s='subl'

#Aliases Git
alias gs='git status'
alias ga='git add .'
alias gc='git commit -m'
alias gb='git branch'
alias gk='git checkout -b'
alias gph='git push'
alias gpl='git pull'
alias gm='git merge'
alias gl='git log --oneline'
alias gr='git reset --hard'

#Aliases Rails
alias rc='rails console'
alias rcs='rails console --sandbox'
alias rr='rails routes'
alias rs='rails server'
alias rt='rails test'
alias seed='rails db:seed'
alias bi='bundle install'
alias yi='yarn install'
alias ba='bundle add'
alias rdm='rails db:migrate'
alias rds='rails db:migrate:status'
alias rdr='rails db:rollback'
alias railsps='rails new -d postgresql'

#Heroku
alias hrrc='heroku run rails console'
alias gph='git push heroku master'
alias hrr='heroku run rails'
alias hrrms='heroku run rails db:migrate db:seed'

# Cyberghost VPN
alias vpnon="sudo cyberghostvpn --traffic --country-code CH --connect"
alias vpnoff="sudo cyberghostvpn --stop"

# Others
alias screenfetch="screenfetch"
alias cleardnscache="sudo systemd-resolve --flush-caches"
alias killport3000="sudo kill -9 $(sudo lsof -t -i:3000)"
